body{
    background-color:#1b1d1f;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px; 
}

.social-links{
    width: 90%;
    max-width: 300px;
    height: 380px;
    background-color: #27292b;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;
}

.individual-links{
    font-size: 12px;
    color: #fff;
    background-color: #3c3f42;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    text-decoration: none;
}
.individual-links:hover {
    background-color: #505357; /* Muda a cor ao passar o mouse */
}

.adress{
    color: #42d4c0;
    font-size: 10px;
}

.info{
    font-size: 15px;
}

